<!--The content below is only a placeholder and can be replaced.-->
<header>
  <span class='logo'>STICKY</span>
</header>

<div class='margin'></div>
<div class='wrapper'>
  <article>
    <h1>Simple responsive table.</h1>
    <p>
      Table with horizontal responsive scroll and selected columns defined as `sticky`
    </p>
  </article>
</div>

<div class='wrapper'>
  <ng-container *ngIf="_tableOptions">
      <app-responsivetable [options$]="_tableOptions"></app-responsivetable>
  </ng-container>
</div>

<footer>
  <p>
    How it works?
    <a href="https://gitlab.com/mateuspytel/StickyTable/tree/master">
      <img src="./assets/gitlab_logo_bw.svg">
      GitLab Repo
    </a>
  </p>
</footer>
