/** **/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    z-index: 102 !important;
    background: #fff;
}

footer {
    background: #000000;
    color: #ffffff;
    padding: 2rem; 
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    a {
        font-size: .8rem;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:visited {
            color: inherit;
        }
        img {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }
}

.wrapper {
    margin: 1rem;
    border: 1px solid #d0d0d0;
    article {
        margin: 3rem;
        max-width: 20rem;
        p {
            font-size: 1.5rem;
        }
    }
}