@import '../../scss/variables';

.responsive-table-container {
   width: 100%;
   position: relative;
   overflow: hidden;
   .header { background: #f2f2f2; }
   .sticky-container {
        left: 0;
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        background: #fff;
        display: flex;
        flex-direction: column;
        z-index: 101 !important;
        .edit-row {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.5rem;
            background: #8fddc8;
            cursor: pointer;
            transform-origin: left;
            animation: rollup 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            img {
                width: 1.2rem;
                height: 1.2rem;
                margin-left: 1rem;
            }
        }
        .col {
            flex-grow: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .2rem .5rem;
            height: 5rem;
            text-align: center;
            background: #8fddc8;
            color: #ffffff;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid #fff;
       }
    }
    .non-sticky-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        background: #fff;
        overflow-x: auto;
        .col {
            flex-grow: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 12rem;
            max-width: 20rem;
            padding: .2rem .5rem;
            text-align: center;
            height: 5rem;
            border-bottom: 1px solid #d0d0d0;
       }
    }
   .row {
       position: relative;
       display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
       width: 100%;
       
   }
   
}