<div class='responsive-table-container' *ngIf="_tableData">
  <div class='sticky-container' [ngStyle]="{'width' : _stickyColumnWidth}" [@rowsAnimation]="_tableData.length">
    <div class='row' *ngFor="let data of _tableData;let i=index;">
      <div *ngIf="(i===_editColumn)" class='edit-row'>Edit<img src='./assets/edit.svg' alt=""></div>
      <div *ngFor="let sticky_cell of data.sticky_cell" class='col' (click)="makeEditable(i)" #exc>{{sticky_cell.value}}</div>
    </div>
  </div>
  <div class='non-sticky-container' [ngStyle]="{'padding-left' : _stickyColumnWidth }" [@rowsAnimation]="_tableData.length" (click)="close()"> 
    <div class='row' *ngFor="let data of _tableData">
      <div *ngFor="let non_sticky_cell of data.non_sticky_cell" class='col'>{{non_sticky_cell.value}}</div>
    </div>
  </div>
</div>