/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

@mixin respond-to($media) {
    @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
    }
}

@keyframes rollup {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

html,
body,
div,
*,
button,
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    @include respond-to(handhelds) { font-size: 11px; }
}

.action-button {
    border: none;
    color: #fff;
    padding: .5rem 1.5rem;
    cursor: pointer;
    background: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    border-radius: 0.2rem;
    &:hover {
        background: linear-gradient(-180deg, #30bd51 0%, #259840 90%);
    }
}

.logo { font-family: 'Vidaloka', serif; }
.margin { margin-top: 4rem; }

h1,h2,h3,h4,h5,h6 { font-weight: 400; }

h1 {
    font-size: 5rem;
    color: #000;
    text-decoration: none;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 500;
}